.mainLogo {
    text-align: center;
    margin: 0px auto;
    width: 50vw;
    max-width: 250px;
    padding: 20px;

    img {
        width: 100%;
    }

    &.small img {
        max-width: 30px;
    }
}